@import '../../styles/global';

@mixin box($color: #fff) {
    @media only screen and (min-width: 600px) {
        width: 100%;        
    }
    border-radius: 5px;
    border: 2px solid $color;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px 10px 20px 10px;
    font-size: 16px;
    font-weight: bold;
    font-family: $fontStyle;
}

.container {
    @media only screen and (min-width: 690px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
    }
}
   
.gloomyBox {
    @include box($color-pallete-5)
}   
.sunnyBox {
    @include box($color-pallete-2)
}

.row {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8em;
}

.circle {
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
    position: relative;
    margin-left: 10px;
    margin-right: 4px;
}