@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

$fontStyle: 'Source Code Pro', monospace;
$container-width: 100%;
$site-width: 960px;
$color-pallete-1: rgb(255, 255, 255);
$color-pallete-2: rgb(255, 216, 88);
$color-pallete-3: rgb(63, 63, 63);
$color-pallete-4: rgb(29, 29, 29);
$color-pallete-5: rgb(146, 146, 146);
$color-pallete-6: rgb(255, 239, 185);

