@import './global';

@mixin link($color: #fff, $letterColor: black) {
  color: $letterColor;    
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  letter-spacing: 3px;
  margin: 10px;
  transition: all .4s ease-out;
  will-change: transform;

  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: $color;
    transform: scale(0, 1); //scale(x, y)
    transform-origin: 0% 100%;
    will-change: transform;
    transition: transform 1s cubic-bezier(0, 1, 0.22, 1);

  }
  &:hover:after {
    background-color: $color;
    transform: scale(1);
    transition: transform 1s cubic-bezier(0, 1, 0.22, 1), background-color 0.5s ease-out, 
  }
  &:hover {
    text-decoration: none;
    color: $color;
  }
}

.gloomyLink {    
  @include link($color-pallete-1, $color-pallete-5)    
}

.sunnyLink {
  @include link($color-pallete-2, $color-pallete-4)
}
