@import './global';

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 12px;               
}

body::-webkit-scrollbar-track {
  background: $color-pallete-3;  
}

body::-webkit-scrollbar-thumb {
  background-color: $color-pallete-2;
  border-radius: 10px;
  border: 3px solid $color-pallete-3;  
}
