@import './global';

@mixin tag($color: white, $textColor: black) {
    background: $color;
    color: $textColor;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    border-radius: 5px;
    padding: 10px;
    margin:0 10px 10px 0;
    font-weight: bolder;
    display: inline-block;
}

.tagSunny{
    @include tag($color-pallete-2, $color-pallete-4);
}

.tagGloomy {
    @include tag($color-pallete-5, $color-pallete-1);   
}