@import '../../../styles/global';

.container {
  max-width: $site-width;
  min-height: 140px;
  margin: 0 auto;
  padding-top: 30px;

  .row {
    text-align: center;
    padding: 10px;
  }
  .activeSunny {
    color: $color-pallete-2;
    
  }
  .activeGloomy {
    color: $color-pallete-1;
  }
  .theme{
    padding: 10px;
    cursor: pointer;  
    .sunny {
    color:  $color-pallete-2;
    animation: sunRotation 8s linear infinite;
    }

    .gloomy {
    color: $color-pallete-5;
    animation: cloudMove 4s ease-in-out infinite;

    }
  }


  .deactive {
    color: $color-pallete-4;
  } 

}
@keyframes sunRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes cloudMove {
  0%,
  100% {
    transform: translate(0, 0);
  }  
  50% {
    transform: translate(10px, 0);
  }
}  
